
    @model Pizza;

@{
    Layout = "Guest/_Layout";
}

    <div class="container debug px-3 py-4 bg-beige">
        <div class="row">
            <div class="col-6">
                <img src="@Model.Image" class="mb-2 w-100 rounded-box"/>
            </div>
             <div class="col-6">
                 <h2 class="mb-3">@Model.Name</h2>
                 <p>@Model.Name</p>
                 <p>@Model.Category?.Name</p>
                 <p>@Model.Description</p>
                 <p>Euro: @Model.Price.ToString("###.##"); </p>

                 <a class="btn_show px-3 py-2 rounded-pill" href="@Url.Action("Update", "Pizza", new{Id = Model.Id})">Modifica</a>
                 <a class="btn_show px-3 py-2 rounded-pill" asp-area="" asp-controller="Pizza" asp-action="Index">Lista Pizze</a>
            </div>
        </div> 
    
    </div>



