@using la_mia_pizzeria_static.Models;

@{
    Layout = "Guest/_Layout";
}
@model RelationsPizzas;

<div class="container bg-beige debug p-4">
    <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Pizza.Id" method="post">
    @Html.AntiForgeryToken()

        <div class="mb-3">
            <strong>Nome pizza:</strong>
            <input asp-for="Pizza.Name" class="d-block w-100" />
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea class="form-control" asp-for="Pizza.Description"></textarea>
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Pizza.Image" class="d-block w-100" />
            <span asp-validation-for="Pizza.Image" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Categoria:</strong>
            <select class="form-select" asp-for="Pizza.CategoryId">
                <option value="">Seleziona la categoria</option>
                @foreach (Category category in Model.Categories)
                {
                    if (Model.Pizza.CategoryId == category.Id)
                    {

                        <option value="@category.Id" selected>@category.Name</option>

                    }
                    else
                    {

                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Tag:</strong>
            <select asp-for="IngredientIds" multiple="multiple"
            size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList" >
            
            @foreach (Ingredient ing in Model.Ingredients)
            {
                @if (Model.Pizza.Ingredients.Contains(ing))
                {
                    <option selected value="@ing.Id">@ing.Name</option>
                }
                else
                {

                    <option value="@ing.Id">@ing.Name</option>
                }

            }
            </select>
        </div>

        @*  <select asp-for="SelectedTags"
                    multiple="multiple"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                    asp-items="@Model.Tags">
                </select>*@

        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Pizza.Price" class="d-block w-100" step=".50" value="@Model.Pizza.Price.ToString("###.##")" min="0" max="100"/>
            <span asp-validation-for="Pizza.Price" class="text-danger"></span>
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small  btn-secondary" value="Salva">
        </div>

    </form>
</div>





